body{
  background-color: #edc4e2;
  text-align: center;
}
  .intro{
  margin: 10% 30%;
  border: 5px solid #d831ab;
  color: red;
  padding: 0;
}
#image {
  width:100%;
}
  .paragraphs{
    margin: 8% 10%;
  width: 75%;
  font-style: italic;
  font-weight: bold;
  color: blue;
}
